<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataCollect" value="YixinTest" /> <!-- AMTTest or AMTLive or YixinLive or YixinTest -->
    <add key="SqlConnection" value="Data Source=AMTERP03;User ID=eWIP_MES;Password=pddpdd#3" /> <!-- ID=eWIP_MES;Password=eW!P61200 -->
    <add key="CSI_UserName" value="sa" /> <!-- sa -->
    <add key="CSI_Password" value="mapics" /> <!-- mapics or amtSL88# -->
    <add key="CSI_DataBase" value="YixinTest" /> <!-- AMTTest or AMT or YixinLive or YixinTest -->
    <add key="Job Prefix Not In" value="'YC06230007'" /> <!-- '' or 'AB' -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="EmailSendTo" value="kendallmoo@amt-mat.com"/> <!-- voonsm@amt-mat.com -->
	<add key="EmailCC" value="kendallmoo@amt-mat.com"/> <!-- jasmine@amt-mat.com,chenly@amt-mat.com,kendallmoo@amt-mat.com,shawnyew@amt-mat.com -->   
    <add key="EmailCC2" value="kendallmoo@amt-mat.com"/> <!-- tohhk@amt-mat.com,zhouhy@amt-mat.com -->
	<add key="DateFilePath" value="\\amterp03\AutoPosting-ClosingPeriod\dates.csv"/>
	<add key="Tooling" value="machining"/> <!-- tooling or not tooling or machining -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IDOWebServiceSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://amterp03/IDORequestService/IDOWebService.asmx" binding="basicHttpBinding" bindingConfiguration="IDOWebServiceSoap" contract="IDOWebService.IDOWebServiceSoap" name="IDOWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

